.sr-only {
	position: absolute;
	width: 1px;
	height: 1px;
	padding: 0;
	margin: -1px;
	overflow: hidden;
	clip: rect(0, 0, 0, 0);
	white-space: nowrap;
	border: 0;
}

.news-header-right {
	display: flex;
	justify-content: space-between;
	margin-bottom: 40px;
}

.news-total {
	font-size: 18px;
	color: #999999;
	font-weight: 700;
}
.news-total span {
	color: #008efb;
}

.news-header-right select {
	border-radius: 5px;
	background: #f4f4f4;
	border: none;
	padding: 8px 10px;
	width: 100px;
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	background-image: url("data:image/svg+xml;utf8,\<svg xmlns='http://www.w3.org/2000/svg' width='10' height='6' viewBox='0 0 10 6'>\<path d='M1 1 L5 5 L9 1 Z' fill='%23008efb' />\</svg>");
	background-repeat: no-repeat;
	background-position: right 12px center;
	background-size: 10px 6px;
}

.news-list,
.video-list {
	padding: 1rem 0;
	max-width: 1520px;
	margin: 100px auto 100px;
	box-sizing: border-box;
	width: 100%;
}
.news-items,
.video-items {
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(380px, 1fr));
	column-gap: 30px;
	row-gap: 50px;
	list-style: none;
	padding: 0;
}

.news-item,
.video-item {
	background: #fff;
	transition: transform 0.2s ease;
}
.news-item:hover,
.video-item:hover {
	transform: translateY(-4px);
}
.news-link,
.video-link {
	text-decoration: none;
	color: inherit;
	display: flex;
	flex-direction: column;
}

.news-thumb,
.video-thumb {
	width: 100%;
	height: 280px;
	overflow: hidden;
	border-radius: 20px;
}

.news-thumb img,
.video-thumb img {
	width: 100%;
	height: 280px;
	object-fit: cover;
	background: #f8f8f8;
}
.news-info,
.video-info {
	padding: 20px 40px;
	flex: 1;
	box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.22);
	margin-top: 10px;
	border-radius: 20px;
}
.news-title,
.video-title {
	font-size: 22px;
	font-weight: 700;
	line-height: 140%;
	margin-bottom: 0.5rem;
	width: 100%;
	text-overflow: ellipsis;
	overflow: hidden;
	word-break: break-word;
	display: -webkit-box;
	-webkit-line-clamp: 2;
	-webkit-box-orient: vertical;
}
.news-date,
.video-date {
	font-size: 16px;
	color: #999999;
	margin-top: 5px;
	text-align: right;
}
.news-pagination {
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 10px;
	margin-top: 80px;
}

.news-pagination button {
	border: none;
	background: transparent;
	padding: 8px 12px;
	font-size: 16px;
	color: #666666;
	cursor: pointer;
}

.news-pagination button.active {
	font-weight: 700;
	color: #008efb;
}

.news-pagination .icon-btn {
	border: none;
	background: transparent;
	padding: 0;
	width: 20px;
	height: 20px;
	display: inline-flex;
	align-items: center;
	justify-content: center;
	margin: 0 2px;
	cursor: pointer;
}

.news-pagination .icon-btn img {
	width: 100%;
	height: 100%;
	object-fit: cover;
}

/* >, ≫ 은 화살표 반대로 회전 */
.news-pagination .icon-btn.next img,
.news-pagination .icon-btn.last img {
	transform: rotate(180deg);
}

/* 비활성화 상태 */
.news-pagination .icon-btn:disabled {
	opacity: 0.8;
	cursor: default;
}
.news-search-bar {
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 10px;

	margin: 80px auto;
}
.news-search-select {
	display: flex;
}

.news-search-form {
	display: flex;
	align-items: center;
	gap: 3px;
}

.news-search-select select {
	border-radius: 5px;
	background: #f4f4f4;
	border: none;
	padding: 8px 10px;
	width: 100px;
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	background-image: url("data:image/svg+xml;utf8,\<svg xmlns='http://www.w3.org/2000/svg' width='10' height='6' viewBox='0 0 10 6'>\<path d='M1 1 L5 5 L9 1 Z' fill='%23008efb' />\</svg>");
	background-repeat: no-repeat;
	background-position: right 12px center;
	background-size: 10px 6px;
}

.news-search-bar input[type='text'] {
	background: #f4f4f4;
	border-radius: 5px;
	padding: 9px 15px;
	width: 300px;
	display: inline-block;
	box-sizing: border-box;
}

.news-search-bar button {
	background: #008efb;
	border: none;
	color: #fff;
	padding: 5px 20px;
	border-radius: 5px;
	font-size: 16px;
	cursor: pointer;
}

@media (max-width: 1400px) {
	.news-list,
	.video-list {
		margin: 70px auto 150px;
		padding: 0 20px;
		box-sizing: border-box;
		max-width: 1280px;
	}
}

@media (max-width: 1024px) {
	.news-list,
	.video-list {
		margin: 50px auto 100px;
		padding: 0 20px;
		box-sizing: border-box;
		max-width: 100%;
	}
}
@media (max-width: 580px) {
	.news-total {
		font-size: 16px;
	}
	.news-list,
	.video-list {
		margin: 30px auto 80px;
		padding: 0 10px;
		box-sizing: border-box;
		max-width: 100%;
	}

	.news-items,
	.video-items {
		grid-template-columns: 1fr;
		column-gap: 0;
		row-gap: 40px;
	}

	.news-thumb,
	.video-thumb {
		height: 200px;
		border-radius: 10px;
	}
	.news-thumb img,
	.video-thumb img {
		height: 200px;
	}
	.news-info,
	.video-info {
		padding: 15px 20px;
		border-radius: 10px;
	}
	.news-title,
	.video-title {
		font-size: 18px;
		-webkit-line-clamp: 3;
	}
	.news-date,
	.video-date {
		font-size: 14px;
	}
	.news-search-select select {
		width: 80px;
	}
	.news-search-bar input[type='text'] {
		width: 180px;
	}
	.news-pagination {
		margin-top: 40px;
		gap: 5px;
	}
	.news-pagination button {
		font-size: 14px;
		padding: 6px 8px;
	}
}
