.organization-section {
	padding-top: 150px;
	padding-bottom: 220px;
}

.organization-inner {
	max-width: 1530px;
	margin: 0 auto;
	box-sizing: border-box;
}

.org-banner {
	position: relative;
	margin-bottom: 60px;
	height: 300px;
	border-radius: 40px;
	text-align: center;
	display: flex;
	justify-content: center;
	align-items: center;
	overflow: hidden;
	color: #ffffff;
	background: url('/assets/images/company/organi_01.png') center / cover no-repeat;
}

.org-banner-content {
	position: relative;
}
.organization-inner h2 {
	font-size: 50px;
	font-weight: 700;
	text-align: left;
	padding-bottom: 70px;
	color: #244079;
	padding-left: 50px;
	line-height: 140%;
}

.organization-inner h2 span {
	font-weight: 400;
	padding-bottom: 10px;
}

.org-banner-desc {
	max-width: 720px;
	font-size: 18px;
	line-height: 1.8;
	opacity: 0.95;
	word-break: keep-all;
}

/* 조직도 이미지 */

.org-chart-wrapper {
	text-align: center;
}

.org-chart-heading {
	font-size: 22px;
	font-weight: 700;
	color: #244079;
	margin-bottom: 24px;
}

.org-chart-image {
	max-width: 100%;
	border-radius: 24px;
	padding: 24px 16px;
}

.org-chart-image img {
	max-width: 100%;
	height: auto;
	display: block;
	margin: 0 auto;
}

.org-chart-desktop {
	display: block;
}

.org-chart-mobile {
	display: none;
}

/* 반응형 */

@media (max-width: 1400px) {
	.organization-section {
		padding: 100px 20px 150px 20px;
		margin: 0 auto;
		box-sizing: border-box;
	}
	.organization-inner {
		max-width: 1280px;
	}
}

@media (max-width: 1024px) {
	.organization-section {
		padding: 90px 20px 110px 20px;
		max-width: 100%;
	}

	.organization-inner h2 {
		font-size: 36px;
		line-height: 140%;
		padding-bottom: 75px;
		padding-left: 30px;
		word-break: keep-all;
	}
}
@media (max-width: 580px) {
	.organization-section {
		padding: 70px 20px 100px 20px;
	}
	.organization-inner h2 {
		font-size: 25px;
		padding-bottom: 50px;
		padding-left: 25px;
	}

	.org-banner {
		border-radius: 20px;
		margin-bottom: 30px;
	}

	.org-chart-desktop {
		display: none;
	}

	.org-chart-mobile {
		display: block;
	}

	.org-banner-desc {
		font-size: 14px;
		padding: 0 10px;
	}
}
