.sub-layout {
	width: 100%;
	min-height: 100vh;
	display: flex;
	flex-direction: column;
}

.sub-hero {
	position: relative;
	width: 100%;
	height: 600px;
	background-size: cover;
	background-position: center;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: flex-end;
}

.breadcrumb {
	position: relative;
	z-index: 2;
	color: #fff;
	opacity: 0.9;
	margin: 100px 0 50px;
	font-size: 16px;
}

.breadcrumb span {
	margin: 0 8px;
}

.sub-title {
	position: relative;
	z-index: 2;
	font-size: 60px;
	font-weight: 700;
	color: #fff;
	margin-bottom: 130px;
	font-family: 'Montserrat', sans-serif;
}

/* Tabs */
.sub-tabs {
	position: relative;
	z-index: 2;
	display: flex;
	justify-content: center;
	gap: 32px;
	margin-bottom: 60px;
}

.sub-tabs a.sub-tab {
	color: rgba(255, 255, 255, 0.7);
	font-size: 18px;
	padding-bottom: 28px;
}

nav.sub-tabs {
	position: relative;
	width: 100%;
	height: 30px;
	max-width: 1720px;
	text-align: center;
}
nav.sub-tabs::after {
	content: '';
	position: absolute;
	border-bottom: 1px solid #eeeeedbb;
	display: block;
	width: 100%;
	bottom: 0;
	left: 0;
	height: 1px;
	z-index: -1;
}
.sub-tabs a.sub-tab.active {
	color: #84e8fa;
	border-bottom: 3px solid #84e8fa;
}

.sub-content {
	flex: 1;
	max-width: 1720px;
	margin: 0 auto;
	width: 100%;
}

@media (max-width: 1024px) {
	.sub-hero {
		height: 300px;
	}

	.breadcrumb {
		margin: 100px 0 20px;
		font-size: 12px;
	}
	.sub-title {
		font-size: 36px;
		margin-bottom: 50px;
	}
	nav.sub-tabs {
		overflow-x: auto;
		white-space: nowrap;
		-webkit-overflow-scrolling: touch;
		justify-content: center;
		max-width: 100%;
		padding: 0 10px;
		box-sizing: border-box;
	}
	.drone-solution-layout nav.sub-tabs {
		justify-content: unset;
	}
	nav.sub-tabs::-webkit-scrollbar {
		height: 3px;
	}

	nav.sub-tabs::-webkit-scrollbar-thumb {
		background: rgba(255, 255, 255, 0.123);
		border-radius: 4px;
	}

	nav.sub-tabs::after {
		width: auto;
	}

	.sub-tabs {
		gap: 20px;
		margin-bottom: 30px;
	}

	.sub-tabs a.sub-tab {
		font-size: 14px;
		display: inline-block;
		line-height: 1;
		white-space: nowrap;
		padding: 0 10px;
	}
	.sub-content {
		flex: 1;
		max-width: 100%;
		box-sizing: border-box;
		margin: 0 auto;
		width: 100%;
	}
}
